:root {
    font-size: 10px;
}

body {
    display: flex;
}
.project-container-outer {
    height: 100vh;
    background-color: rgb(129, 129, 129);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vw;
    flex-wrap: wrap;
    overflow-y: auto;
}

.item-container-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    flex-grow: 5;
    background-color: rgb(164, 164, 164);
    padding-left: 2.5vw;
    flex-wrap: wrap;
    overflow-y: auto;
}

.item {
    display: flex;
    place-items: center;
    gap: 10px;
}

.item:hover {
    border: 1px solid rgba(48, 79, 255, 0.577);
    border-radius: 5px;
}

.label-title:hover {
    border: 1px solid rgb(3, 255, 255);
    color: rgb(255, 40, 40);
}

.priority-Low {
    color: rgb(0, 224, 0);
}
.priority-Medium {
    color: yellow;
}
.priority-High {
    color: red;
}

.priority-Low, .priority-Medium, .priority-High {
    background-color: rgb(42, 42, 42);
    text-align: center;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
}

.priority-Low:hover, .priority-Medium:hover, .priority-High:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px black;
}

.expand, .description {
    height: 17px;
    color: #0c0a00;
}

.plus {
    height: 25px;
    width: 25px;
}

.plus:active {
    width: 28px;
    height: 28px;
}

.expand:hover, .description:hover, .plus:hover {
    filter: invert(0.8) sepia(1) saturate(5);
    image-rendering: pixelated;
}

.expand:active, .description:active {
    height: 20px;
}

.checkbox {
    border-radius: 50%;
}

.project-name {
    height: 50px;
    font-size: 2rem;
}

.item {
    font-size: 1.5rem;
}

button {
    border: 2px solid black;
    border-radius: 1.75rem;
}

.selected-project {
    font-weight: 600;
    box-shadow: 2px 2px 4px black;
    background-color: rgb(255, 196, 174);
}

